/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    margin: 0;
    color: #666666;
}

.swal2-popup {
    font-family: Roboto !important;
}

p {
    margin: 0;
}

h1 {
	color: #555555;
	font-weight: bold;
	text-align: center;
}

h2 {
	color: #14AA48;
	font-weight: bold;
}

h3 {
	color: #14AA48;
	font-weight: bold;
	font-size: .8rem;	
}