<div class="grid-container">
    <!-- <h1 class="mat-h1">Renegociar taxas, aluguel de POS e RAV</h1> -->
    <mat-grid-list cols="2" rowHeight="100px">
        <mat-grid-tile colspan="2" rowspan="2">
            <div class="myCardCopy">
                <h2>Renegociação #Numero - Nome do Cliente</h2>
                <div style="display: flex; justify-content: space-around;">
                    <h4>Status: _________</h4>
                    <h4>Dia que foi aberta: ________</h4>
                    <h4>Responsável: _____________</h4>
                </div>
            </div>
        </mat-grid-tile>
        <!-- <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        {{card.title}}
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Expand</button>
                            <button mat-menu-item>Remove</button>
                        </mat-menu>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <div>Card Content Here</div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile> -->
    </mat-grid-list>
    <form (ngSubmit)="onSubmit()" #RenegociacaoForm="ngForm">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Taxa Visa/Master
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                        Taxas para débito e crédito
                    </mat-panel-description> -->
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item>Débito</mat-list-item>
                    <mat-divider></mat-divider>
                    <div style="display: flex; justify-content: space-around; margin-top: 1rem;">
                        <mat-form-field>
                            <input matInput type="number" placeholder="Taxa Atual" [(ngModel)]="pricingObj.Atual_Debito__c" name="taxaDebitoVisaMaster">
                        </mat-form-field>
                        
                        <mat-form-field>
                            <input matInput type="number" placeholder="Cliente Pediu">
                        </mat-form-field>
                        
                        <mat-form-field>
                            <input matInput type="number" placeholder="Oferecido">
                        </mat-form-field>
                    </div>
                    <mat-list-item>Crédito</mat-list-item>
                    <mat-divider></mat-divider>
                    <div style="display: flex; justify-content: space-around; margin-top: 1rem;">
                        <mat-form-field>
                            <input matInput type="number" placeholder="Taxa Atual" [(ngModel)]="pricingObj.Atual_Credito_a_Vista__c" name="taxaCreditoVisaMaster">
                        </mat-form-field>
                    
                        <mat-form-field>
                            <input matInput type="number" placeholder="Cliente Pediu">
                        </mat-form-field>
                    
                        <mat-form-field>
                            <input matInput type="number" placeholder="Oferecido">
                        </mat-form-field>
                    </div>
                    <mat-list-item>Crédito 2 a 6x</mat-list-item>
                    <mat-divider></mat-divider>
                    <div style="display: flex; justify-content: space-around; margin-top: 1rem;">
                        <mat-form-field>
                            <input matInput type="number" placeholder="Taxa Atual" [(ngModel)]="pricingObj.Atual_Credito_2_a_6__c" name="taxaCredito2a6VisaMaster">
                        </mat-form-field>
                    
                        <mat-form-field>
                            <input matInput type="number" placeholder="Cliente Pediu">
                        </mat-form-field>
                    
                        <mat-form-field>
                            <input matInput type="number" placeholder="Oferecido">
                        </mat-form-field>
                    </div>
                    <mat-list-item>Crédito 7 a 12x</mat-list-item>
                    <mat-divider></mat-divider>
                    <div style="display: flex; justify-content: space-around; margin-top: 1rem;">
                        <mat-form-field>
                            <input matInput type="number" placeholder="Taxa Atual" [(ngModel)]="pricingObj.Atual_Credito_7_a_12__c" name="taxaCredito7a12VisaMaster">
                        </mat-form-field>
                    
                        <mat-form-field>
                            <input matInput type="number" placeholder="Cliente Pediu">
                        </mat-form-field>
                    
                        <mat-form-field>
                            <input matInput type="number" placeholder="Oferecido">
                        </mat-form-field>
                    </div>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
        <button type="submit" [disabled]="!RenegociacaoForm.form.valid">Verificar alçada</button>
    </form>
</div>